{% for hour in avaliable %}
  <label class="{% if hour.avaliable === false %}disabled{% endif %}" for="time-{{ hour.time }}">
    {% if hour.avaliable === true %}
      <input type="radio" name="date" value="{{ hour.value }}" id="time-{{ hour.time }}">
    {% endif %}
    {{ hour.time }}
  </label>
{% endfor %}
